@import '../lib/Vars.scss';

.icon__container--general {
    width: 1em;
    height: 1em;
    fill: $d-fourth-color;
    margin-right: 21px;
}

.icon__container--card-control {
    font-size: 3em;
    transition: .5s;
    margin-right: 0;
    &:hover {
        font-size: 4em;
        transition: .5s;
    }
}

.icon__container--more {
    margin-right: 0;
}

.icon__container--player-menu-play {
    @include menu-icon;
    font-size: 1.4em;
}

.icon__container--player-menu {
    @include menu-icon;
}

.icon__container--player-menu-turned {
    @include menu-icon;
    transform: rotateY(180deg);
    &:hover {
        transform: rotateY(180deg) scale(1.1);
    }
}

.icon__container--add-playlist-control {
    font-size: 7em;
    cursor: pointer;
}

.icon__container--is-filled {
    fill: $d-third-color
}
