@import '../lib/Vars.scss';

.user--data-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $d-secondary-color;
    padding: 30px 0;
}

.user--data-container-profile {
    flex: 1;
}

.nameuser {
    color: $d-primary-color;
    text-align: center;
}
.img-profile {
    width: 200px;
    height: 200px;
    margin-top: 30px;
    display: block;
    margin: auto;
    text-align: center;
    border: solid 1px $d-primary-color;
    border-radius: 50%;
    object-fit: cover;
}