{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ],
    "plugins": [
        "transform-class-properties",
        "react-hot-loader/babel",
        "@babel/plugin-transform-object-assign",
        ["@babel/plugin-transform-runtime",
            {
              "regenerator": true
            }
        ]
    ]
}