@import '../lib/Vars.scss';

.register__container {
    display: flex;
    height: 100vh;
    max-height: 100vh;
    background-image: url('../../assets/Containers/Register/background1.jpeg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: -15vw;
    background-size: cover;
    background-color: $d-third-color;
    @media screen and (max-width: $d-media-m) {
        background-color: $d-primary-color;
        background-image: url('../../assets/Containers/Register/background2.jpeg');
        justify-content: center;
        background-position-x: center;
    }
    
    @media screen and (max-width: $d-media-xs) {
        background-image: url('../../assets/Containers/Register/background3.jpeg');
    }
}

.register__title {
    color: white;
    text-align: center;
    @media screen and (max-width: $d-media-xs) {
        color: $d-third-color;
    }
}

.register__description {
    flex-grow: 1;
    @media screen and (max-width: $d-media-s) {
        display: none;
    }
}

.register__form {
    width: calc(40% - 60px);
    padding: 60px 30px;
    background-color: rgba($d-secondary-color, 0.95);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width:  5px;
    }

    &::-webkit-scrollbar-thumb {
        width: 5px;
        height: 5em;
        background:  $d-primary-color;
    }
  
    &::-webkit-scrollbar-track {
        background: transparent;
    }

    @media screen and (max-width: $d-media-m) {
        width: calc(60% - 60px);
        background-color: rgba($d-secondary-color, 0.5);
    }

    @media screen and (max-width: $d-media-s) {
        width: calc(80% - 60px);
    }

    @media screen and (max-width: $d-media-xs) {
        width: calc(100% - 60px);
    }
}

.register__social-media {
    display: flex;
    width: calc(90% + 5px);
}

.register__change-to-login {
    color: white;
    padding-left: 8px;
    span {
        color: $d-third-color;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}