@import '../lib/Vars.scss';

.accordion__details {
    padding: 0 8px;
    width: calc(90% - 16px);
    border: 1px solid #00d1f7;
    border-radius: 8px;
    margin: 0 10px;
    margin: 20px 0;

    .accordion__summary {
        color: white;
        padding: 8px;
        outline: none;
        cursor: pointer;
    }

    .accordion__content {
        color: white;
        padding: 8px;
        outline: none;
        cursor: pointer;
    }
}