@import '../lib/Vars.scss';

.cards-section__container {
    padding: 0 30px;
    margin: 50px 0;

    h3 {
        color: $d-fourth-color;
        font-family: $d-font-family;
        font-size: 1.6em;
    }

    .cards-section__itemsInnerWrapper {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        transform: translateX(0px);
    }

    .cards-section__itemWrapper {
        max-width: 200px;
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        margin-right: 24px;
        margin-left: 0px;
    }

    .cards-section__itemsWrapper {
        height: 200px;
    }

    .cards-section__add-playlist-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-direction: column;
        color: white;
        user-select: none;
        height: 100%;

        p {
            margin: 10px;
            font-size: 0.8em;
            width: 70%;
        }     
    }
}
