@import '../lib/Vars.scss';

.cards-section__container {
    padding: 0 30px;
    margin: 30px 0;

    h3 {
        color: $d-fourth-color;
        font-family: $d-font-family;
        font-size: 1.6em;
    }

    .cards-section__itemsInnerWrapper {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        transform: translateX(0px);
    }

    .cards-section__itemsWrapper {
        height: 200px;
    }

    .cards-section__rightChevronWrapper {
        position: absolute;
        height: 100%;
        width: 61px;
        cursor: pointer;
        top: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}
