@import '../lib/Vars.scss';

.header__container {
    background-color: rgba($d-secondary-color, .95);
    height: calc(10vh - 10px);
    padding: 5px 30px;
    display: flex;
    align-items: center;

    img {
        height:50px;
    }

    .header__logo {
        margin-right: 5vw;
    }

    .header__childs-container {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }

    .header__flex-grow {
        z-index: 50;
    }

    .header__flex-grow ul {
        padding-left: 0;
    }

    .header__user-icon {
        margin-left: 5vw;
        cursor: pointer;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        object-fit: cover;
    }

    .header__search-audio--icon {
        margin-right: 0;
        height: 1.5em;
        width: 1.5em;
        margin-left: 10px;

        &:hover {
            fill: $d-third-color;
        }
    }
}

@media (max-width: $d-media-l) {
    .header__container {
        padding: 5px 12px;
        align-items: flex-start;

        img {
            height: 45px;
        }
    }
    .header__logo {
        margin-right: 4vw;
    }

    .header__user-icon {
        margin-left: 4vw;
        width: 45px;
        height: 45px;

    }

    .header__childs-container {
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
    }
}

@media (max-width: $d-media-xs) {
    .header__logo {
        margin-right: 0;
    }

    .header__user-icon {
        margin-left: 0;
        width: 40px;
        height: 40px;
    }

    .header__container {
        position: relative;
    }

    .header__flex-grow ul {
        position: absolute;
        left: 0;
    }
}