@import '../lib/Vars.scss';

.header__container {
    background-color: rgba($d-secondary-color, .95);
    height: calc(10vh - 10px);
    padding: 5px 30px;
    display: flex;
    align-items: center;

    img {
        height: 6.5vh;
        margin-right: 5vw;
    }

    .header__childs-container {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .header__user-icon {
        align-items: center;
        cursor: pointer;
      }

    .header__user-icon img{
        margin-right: auto;
        width: 40px;
    }

    .header__flex-grow {
        flex: 1;
    }
}