@import '../lib/Vars.scss';

.list-item__item {
    background: transparent;
    padding: 5px 16px;
    font-family: $d-font-family;
    color: $d-fourth-color;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    user-select: none;
    cursor: pointer;
    outline: none;
    &:hover {
        color: $d-third-color;
    }
}

.active {
    color: $d-third-color;
}

@media (max-width:600px) {
    .list-item__item {
        font-size: 14px;
    }

}

@media (max-width:400px) {
    .list-item__item {
        font-size: 12px;
    }

}
