@import '../lib/Vars.scss';

.main-layout__container {
    background-color: $d-secondary-color;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 160px);
    padding-bottom: 30px;

    .main-layout__flex-grow {
        flex: 1;
    }
}