@import '../lib/Vars.scss';

.player__container {
    padding: 15px 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $d-secondary-color;
    user-select: none;

    .player__menu-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
