.player-menu__container {
    display: flex;
    justify-content: space-evenly;
    flex: .5;

    .player-menu__loader {
        display: inline-block;
        margin-right: 21px;
    }
}


@media (max-width: 600px) {
    .player-menu__container {
        display: inline;
        justify-content: center;
    }
}

@media (max-width:600px) {
    .player-menu__container {
        flex: 0;
    }
}