.player-artist-info__container {
    display: flex;
    justify-content: space-around;

    img {
        height: 40px;
        margin-right: 21px;
    }

    .artist-info {
        display: flex;
        flex-direction: column;
        margin-right:20px;
        p {
            color: white;
            margin: 0;
            max-width: 100px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 0.7em;
        }
    }
}

@media (max-width:600px) {
    .player-artist-info__container {
        flex-direction: column;
    }

    .player-artist-info__container img {
        margin-top: 5px;
    }

}