@import '../lib/Vars.scss';

.player-artist-info__container {
    display: flex;
    justify-content: space-around;
    width: 190px;

    @media screen and (max-width: $d-media-xs) {
        flex-direction: column;
        width: 100px;
    }

    img {
        height: 40px;
        margin-right: 21px;

        @media screen and (max-width: $d-media-xs) {
            margin-top: 5px;
        }
    }

    .artist-info {
        display: flex;
        flex-direction: column;
        margin-right:20px;
        p {
            color: white;
            margin: 0;
            max-width: 100px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 0.7em;
        }
    }
}