@import '../lib/Vars.scss';

@mixin label-collected {
    font-size: 12px;
    top: -2px;
    left: 10px;
    transition: .3s;
    color: $d-primary-color
}

.text-input__container {
    display: inline-block;
    position: relative;
    width: 90%;
    margin: 5px 0;
}

.text-input__input {
    font-family: $d-font-family;
    height: 2em;
    border: none;
    border-bottom: 1.5px solid $d-primary-color;
    background: transparent;
    margin: 10px;
    outline: none;
    color: white;
    padding: 0 8px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: .1px;
    width: calc(100% - 26px);
    &::placeholder {
        color: white;
    }

    &:focus ~ .text-input__label {
        @include label-collected;
    }

    &:disabled {
        border-bottom: 1.5px solid $d-third-color;
        cursor: not-allowed;
    }
}

.text-input__label {
    position: absolute;
    color: white;
    font-size: 14px;
    top: calc(50% - 14px);
    left: 16px;
    cursor: text;
    transition: .3s;
    letter-spacing: .2px;
}

.text-input__label--collected {
    @include label-collected;
    transition: 0;
}