@import '../lib/Vars.scss';

.container {
	width: 40vw;
	height: auto;
	margin: 20px auto;
	@media screen and (max-width: $d-media-m) {
        width: 60vw;
    }

    @media screen and (max-width: $d-media-s) {
        width: 80vw;
    }

    @media screen and (max-width: $d-media-xs) {
        width: 90vw;
    }
}

.form__title {
	width: 100%;
	text-align: center;
	border-radius: 16px;
	border: none;
	margin-top: 1rem;
}

.form__title h2, h3 {
	font-family: $d-font-family;
	font-weight: bold;
	color: $d-fourth-color;
	font-size: 18px;
}

.form {
	padding: 0 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.btn__form {
	display: flex;
	margin-top: 1rem;
}

.input, .btn__submit{
	padding: .5rem;
	margin: .5rem 0;
	border: none;
	outline: none;
	transition: all .4s;
}

.input:focus {
	border-bottom: solid .2rem $d-third-color;
}

.btn__submit {
	font-family: $d-font-family;
	border-radius: 10px;
	background-color: $d-secondary-color;
	color: $d-fourth-color;
	display: block;
}

.user-data-form__accordion-input {
    width: 100%;
}
